html, body{
    background-color: #111E2B;
    color: white;
    font-family: Poppins;
}

.container{
    margin-top: 15%;
}

.top-landing-left{
    display: flex;
    margin-left: 10%;
    align-items: center;

    text-align: center;
}

.top-landing-right{
    display: flex;
    margin-left: 10%;
    align-items: center;

    text-align: center;
}
.calendar{
    height: max-content;
    width: max-content;
    background-color: #6D7634;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;

}


.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    padding: 10px;
}

#calendar-body{
    text-align: center;
}

.calendar-weekday{
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    font-weight: 600;
}

.calendar-weekday div{
    display: grid;
    place-items: center;
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 2px;
}

.days div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

#create-event{
    color: #fff;
    border: none;
    outline: none;
    height: 45px;
    background: #6D7634;
    border-radius: 5px;
    transition: .4s;
}

.submit{
    font-family: Poppins;
    color: #fff;
    border: none;
    outline: none;
    height: 45px;
    background: #6D7634;
    border-radius: 30px;
    transition: .4s;
}

#this-month {
    display: inline;
}
#this-year {
    display: inline;
    margin-left: 15px;
}


.days-of-week > th{
    padding-left: 20px;
    padding-right: 20px;
}
.days-of-week td {
    padding: 10px;
    /* text-align: center; */
}

.month-picker{
    display: inline;
    align-items: center;
}

/* Highlighted day */
.highlighted {
    border-radius: 70%;
    background-color: rgb(213, 113, 0);
    color: white;
    font-weight: bold;
}

/* Cursor pointer for clickable days */
.days div {
    cursor: pointer;
}

.hour-button{
    display: flex;
    text-align: center;
    font-family: Poppins;
    background-color: #6D7634;
    color: #fff;
    width: 50px;
    border-radius: 20%;
}