body {
    background-color: #111E2B; /* Use a light background color */
    font-family: 'Poppins', sans-serif;
    color: white; /* Use a darker text color for better readability */
    margin: 0;
    padding: 0;
}

.login-container {
    box-shadow: 0px 10px 50px 15px rgba(23, 79, 66, 0.85);
    padding: 20px;
    border-radius: 5px;
    background-color: #17594A;
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    height: 500px; /* Set the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20% auto 0;
}

.signup-container {
    box-shadow: 0px 10px 50px 15px rgba(23, 79, 66, 0.85);
    padding: 20px;
    border-radius: 10px;
    background-color: #17594A;
    width: 100%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width */
    height: 900px; /* Set the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0;
}

.right {
    display: flex;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    position: relative;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
}
.form-signin{
    margin: 0 7% 0 7%;
}

.form-signin-heading{
    text-align: center;
    margin-bottom: 40px;
}
.container {
    margin-top: 5%; /* Add more space at the top */
}

.top-landing-left {
    text-align: center; /* Center align text */
}

.welcome{
    font-size: 3em;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
}

.welcome-flyer {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.login-description {
    font-size: 1.6em;
    margin-top: 10px;
    font-style: italic;
}

.input-field {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
}

.input {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #c7c4c4;
    background-color: #a7b9a7;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #8EAC50; /* Use a primary color for buttons */
    color: #fff;
}

.btn:hover {
    background-color: #1E2B11; /* Darken the color on hover */
}

/* Navigation bar */
#menu {
    background-color: #17594A; /* Set background color */
    overflow: hidden;
    font-family: 'Poppins', serif;
    font-weight: bold;
    font-size: large;
}

#menu ul {
    list-style-type: none; /* Remove default list styling */
    margin: 7px;
    /*padding: 0px;*/
    overflow: hidden;
}

#menu ul li {
    float: left; /* Float list items horizontally */
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px; /* Add padding around the text */
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: rgba(26, 86, 71, 0.85); /* Darken the background color on hover */
}

.footer {
    background-color: #111E2B;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
