<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/flyer_logo.png" type="image/x-icon">
    <title>edit event form</title>
    <link rel="stylesheet" th:href="@{/css/event.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script th:src="@{/js/event_form.js}" defer></script>
</head>
<body>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h1>new event</h1>
            <form th:action="@{'/edit/' + ${event.id}}" method="post" class="input-box" id="new-event-form">
                <input type="hidden" name="_method" value="put">
                <div class="input-field">
                    <input type="text" id="eventTitle" name="title" placeholder="title" th:value="${event.title}" required>
                </div>

                <div class="input-field">
                    <input type="text" id="location" name="location" placeholder="location" th:value="${event.location}" required>
                </div>

<!--                <div class="input-field">-->
<!--                    <input type="text" id="day" name="day" placeholder="day" required th:value="${event.day}">-->
<!--                </div>-->

<!--                <div class="input-field">-->
<!--                    <div class='input-group date' id='datetimepicker3'>-->
<!--                        <input type='text' class="form-control" id="startTime" name="start_time"  placeholder="start time" required th:value="${event.start_time}"/>-->
<!--                        <span class="input-group-addon orange-icon"><i class="fas fa-clock"></i></span>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="input-field">-->
<!--                    <input type="text" id="endTime" name="end_time" placeholder="end time" required th:value="${event.end_time}">-->
<!--                </div>-->
                <label style="color: white"> date </label>
                <div class="input-field">
                    <!--                    <input type="text" id="day" name="day" placeholder="day" required>-->
                    <div class="input-field">
                        <div id="datepicker"
                             class="input-group date"
                             data-date-format="mm-dd-yyyy">
                            <input class="form-control"
                                   type="text" readonly
                                   name="day"
                                   th:value="${event.day}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <label style="color: white"> start time </label>
                <div class="input-field">
                    <input type="time"  id="datetime" name="start_time" class="form-control" placeholder="start time" th:value="${event.start_time}"/>
                </div>

                <label style="color: white"> end time </label>
                <div class="input-field">
                    <input type="time" class="form-control" name="end_time" placeholder="end time" th:value="${event.end_time}"/>
                </div>
                <div class="input-field">
                    <input type="text" id="notes" name="notes" placeholder="notes" required th:value="${event.notes}">
                </div>

                <div class="input-field calendar-selection">
                    <label>Select Calendar:</label>
                    <select id="calendar-select" name="calendarId" required></select>
                    <input type="hidden" id="selectedCalendarId" name="selectedCalendarId">
                    <input type="hidden" id="selectedCalendarName" name="selectedCalendarName">
                </div>

                <div class="input-field submit-event">
                    <input type="submit" class="submit" value="edit event">
                </div>
            </form>
            <button ><a th:href="@{/dashboard}"> < back to dash </a></button>
        </div>
    </div>

</div>

</body>
</html>

